*{
    padding: 0;
    margin: 0;
}


/*Header*/

.header-content{
    padding-bottom: 25px;
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #919694;
}
.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.header-logo{
    height: 60px;
    display: flex;
    align-items: center;
}
.logo-title{
    font-weight: 700;
    font-size: 25px;
}
.github-logo{
    width: 30px;
}
.header-links{
    display: flex;
    align-items: center;
}


/*section photos*/
.section-photos{
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
}
.photos-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.cars-photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.car-img{
    max-width: 400px;
    max-height: 229px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.car-img img{
    width: 100%;
    height: 100%;
    transition: 0.2s linear;
}
.car-img img:hover{
    transform: scale(1.1);
}


/*Pop up*/


.pop-up-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 2;
    display: none;
    overflow: hidden;
}
.icons-block{
    margin-top: 10px;
    gap: 20px;
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 3;
}
.icons-block span {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: white;
    cursor: pointer;
}
.back-icon{
    font-weight: 400;
    font-size: 50px;
    line-height: 25px;
    color: white;
    cursor: pointer;
    z-index: 4;
}
.pop-up-img{
    position: absolute;
    top: 47%;
    left: 50%;
    transform:translate(-50%, -50%);
    transition: linear .2s;
    width: 60%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}
.pop-up-other-img{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    z-index: 1;
}
.pop-up-other-img img{
    box-sizing: border-box;
    width: 110px;
    height: 65px;
    border-radius: 10px;
    cursor: pointer;
}
.chosen-mini-car{
    border: 5px solid aqua;
    transition: 0.2s linear;

}
@media (max-width: 768px){
    .pop-up-img{
        width: 90%;
    }
}















